<div class="container">
	<div class="row">
		<div class="col-md-8">
			<%= render 'posts/all_posts', posts: Post.all %>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3 category">
			<% Category.all.each do |category| %>
				<ul>
					<li><%= category.name %>
						<ul>
							<% category.posts.each do |post| %>
								<li><%= link_to post.description, post_path(post) %></li>
							<% end %>
						</ul>
					</li>  
				</ul>
			<% end %>
		</div>
	</div>
</div>