<div class="container">
	<div class="row">
		<div class="col-md-8">
			<%= render 'posts/all_posts', posts: Post.all %>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3 category">
			<ul id="category">
				<!-- <ul id="subposts"></ul> -->
			</ul>

		</div>
	</div>
</div>

<!-- <script type="text/javascript" charset="utf-8">

</script> -->