@font-face {
    font-family: navbrand;
    src: url(https://fonts.googleapis.com/css?family=Lobster);
}
@font-face {
    font-family: titlefont;
    src: url(https://fonts.googleapis.com/css?family=Lobster);
}

