
.navbar-custom {
    background-color:#00897B;
    color:#ffffff;
    margin-bottom: 0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus { 
	text-decoration: none; background-color: #616161; 
}

.center-page {
	margin-top: 0;
	margin-left: 35%;
	margin-right: 35%;
	z-index: 0;
}

.post {
    margin-bottom: 10px;
    padding: 5px 10px 10px 10px;
}

.post-background {
    background-color: #ECEFF1;
}

#navbrand {
    font-family: navbrand;
    font-size: 2em;
}

.post #post_from {
    color: #BDBDBD;
}


